VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="665346e20007a5103a60"
VITE_APPWRITE_DATABASE_ID="66534812001fd6e5cc8e"
VITE_APPWRITE_COLLECTION_ID="6653482c001d3ff5c90b"
VITE_APPWRITE_BUCKET_ID="665349280009d90f8fda"
